@font-face {
    font-family: "Alagard";
    src: url("http://localhost:3000/fonts/alagard.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RainyHearts";
    src: url("http://localhost:3000/fonts/rainyhearts.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("http://localhost:3000/fonts/OpenSans-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: none;
}

body {
    font-size: 1.8vh;
    font-family: "Open Sans";
    margin: 0;
    background-color: black;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#root {
    display: flex;
    width: 100vh;
    height: 100vh;
    margin: auto;
    background: url("../../public/assets/backgrounds/stone.background.jpg") repeat repeat;
}

.container {
    background:
        url("../../public/assets/img/cornerTopRight.png") top right no-repeat,
        url("../../public/assets/img/cornerBottomRight.png") bottom right no-repeat,
        url("../../public/assets/img/cornerBottomLeft.png") bottom left no-repeat,
        url("../../public/assets/img/cornerTopLeft.png") top left no-repeat,
        url("../../public/assets/img/borderTop.png") top repeat-x,
        url("../../public/assets/img/borderRight.png") right repeat-y,
        url("../../public/assets/img/borderBottom.png") bottom repeat-x,
        url("../../public/assets/img/borderLeft.png") left repeat-y,
        url("../../public/assets/backgrounds/container.background.jpg") repeat;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.prompt {
    display: block;
    margin: auto;
    height: 1em;
    border: 0;
    border-bottom: 2px solid white;
    outline: none;
    background: transparent;
    font-family: "Reactor7";
    font-size: 1em;
    text-align: center;
    color: white;
}